.divs-facilidade {
    width: 325px;
}

.icone, .texto-maior {
    color: #DAFF01;
}

.texto-menor {
    font-size: 13px;
    color: #FFFFFF;
}

.btn-lilas {
    background-color: #9353FF !important;
}